<footer style="background-color: #181631; margin-top: 50px">
    <div class="columns" style="margin-left: 5% ; padding-top: 1%" >
        <div class="column" style="line-height: 2">
            <div>
                <h6 class="has-text-weight-bold has-text-white">PLAN DU SITE</h6>
                <H6 style="color: #7a7988">A props</H6>
                <h6 style="color: #7a7988">Animations</h6>
                <H6 style="color: #7a7988"> Réserver une table</H6>
                <H6 style="color: #7a7988">Colloque</H6>
            </div>
        </div>

        <div class="column" style="line-height: 2">
            <div>
                <h6 class="has-text-weight-bold has-text-white" >NOUS CONTACTER</h6>
                <H6 style="color: #7a7988">Contact@lesjournessduhalal.com</H6>
                <h6 style="color: #7a7988">Contact@pagehalal.fr</h6>
                <H6 style="color: #7a7988">Contact@green-heaven.fr</H6>
                <H6 style="color: #7a7988">Contact@mums.com</H6>
                <H6 style="color: #7a7988">Contact@servial.fr</H6>
            </div>
        </div>

        <div class="column" style="line-height: 2">
            <div>
                <h6 class="has-text-weight-bold has-text-white">BANNIERE ??</h6>
            </div>
        </div>

        <div class="column" style="line-height: 2">
            <div>
                <h6 class="has-text-weight-bold has-text-white">SUIVEZ-VOUS</h6>
                <H6 style="color: #7a7988"><span>
                 <i class="fab fa-facebook-f" style="color: #3b5898 ; margin-right: 10px " ></i>
                 <span>Facebook</span>
             </span></H6>
                <H6 style="color: #7a7988"><span><i class="fab fa-twitter" style="color: #55acee; margin-right: 10px"></i>
                 <span>Twitter</span>
             </span></H6>
            </div>
        </div>

    </div>
    <div class="container">
        <hr class="desktop" style="background-color: #7a7988">
        <div class="columns">
            <div class="column navbar-menu">
                <img src="{{'assets/images/pics/Capture2.PNG' | theme}}" class="navbar-start" style="height: 50% ; width: 50%">
            </div>
            <div class="column navbar-menu">
                <H6 class="navbar-end" style="color: #7a7988 ; margin-top: 4%">©lesjourneesduhalal2018</H6>
            </div>
        </div>
    </div>
</footer>