description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Homepage</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <link rel="stylesheet" href="{{"assets/css/bulma.css" |theme}}">
        <link rel="stylesheet" href="{{"assets/css/style2.css"|theme}}">
    </head>

    <body data-spy="scroll">


    {%partial "header"%}

    {# Content #}
        <section id="layout-content">
            {% page %}
        </section>

    {%partial "footer"%}


    {# Scripts #}
    <script src="{{ [
            'assets/vendor/jquery/dist/jquery.js',
            'assets/vendor/jquery-ui/jquery-ui.js',
            'assets/javascript/app.js',
        ]|theme }}"></script>



    </body>
</html>